[submodule "AnkiApi"]
	path = AnkiApi
	url = https://github.com/ChaseKolozsy/AnkiApi.git
[submodule "AnkiClient"]
	path = AnkiClient
	url = https://github.com/ChaseKolozsy/AnkiClient.git
[submodule "chatmcp"]
	path = chatmcp
	url = https://github.com/ChaseKolozsy/chatmcp.git
